*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.container-fondo {
  background-image: url("/Fondo-web.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 50px;
    padding-top: 50px;
    max-width: 1400px;
    
}

.container img {
    max-width: 30%;
    height: auto;
; 
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 50px;
    margin: 100px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #090200;
    background-color: #d3ac9d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button:hover{
    background-color:#b98773;
}

.lista-desordenada li a {
    margin-left: 30px; 
    font-size: medium;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulos {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction:column;
    padding: 30px;
    background-color: #ddc7a2;

}

.titulos h1 {
    background-color: #ddc7a2;
    font-size: 2rem;
}
.titulos h2 {
    background-color: #ddc7a2;
    font-size: 1.5rem;
}

.grid-container {
    
    margin: 0px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  align-items: center;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.gallery-item {
    position: relative;
    
  }
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  .gallery-item a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 20%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eaece9;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.texto-historia {
    text-align: justify;
    color: #eaece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    font-size: medium;
}

.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.form-group{
    color: #eaece9;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  
footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;

}

footer p{
    margin: 20px;
    text-decoration: none;
    color: #eaece9;
}

footer a{
    margin: 20px;
    text-decoration: none;
    color: #eaece9;
}
