footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;

    footer p{
        margin: 20px;
        text-decoration: none;
        color: #eaece9;
    }

    footer a{
        margin: 20px;
        text-decoration: none;
        color: #eaece9;
    }
}