.texto-historia {
    text-align: justify;
    color: #eaece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    font-size: medium;
}
